/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/ext_power.h>

#include "mouse.dtsi"
#include "zmk-helpers/helper.h"
//#include "zmk-helpers/key-labels/60.h"
#include "zmk-helpers/unicode-chars/german.dtsi"
#include "zmk-helpers/unicode-chars/currency.dtsi"

/** Global settings */
/** Constants */
#define QUICK_TAP_MS                175
#define TAPPING_TERM_MS             200
#define MT_CORE_TAPPING_TERM_MS     220
#define MT_CORE_QUICK_TAP_MS        220
#define HRM_QUICK_TAP_MS            125
#define HRM_TAPPING_TERM_MS         280
#define WAIT_MS                     100
#define TAP_MS                      5

/** RGB */
#define UNDER_GLOW_PER_KEY_LED_COUNT    35
#define PER_KEY_LED_COUNT               29

/** Layer Names */
#define BASE    0
#define NUMSYM  1
#define FNGER   2
#define NAV     3
#define SYS     4

/**-------------------------------- Custom Behaviors --------------------------------*/

/**
 * Behavior constants
 */
 /** trans/none */
#define _____       &trans
#define XXXXX       &none

/** Nav */
#define NAV_LEFT    &mt_home 0   LEFT    // tap: left  | long-tap: beginning of line
#define NAV_RIGHT   &mt_end 0    RIGHT   // tap: right | long-tap: end       of line
#define NAV_UP      &mt LC(HOME) UP      // tap: up    | long-tap: beginning of document
#define NAV_DOWN    &mt LC(END)  DOWN    // tap: down  | long-tap: end       of document
#define NAV_BSPC    &mt LC(BSPC) BSPC    // tap: bspc  | long-tap: delete word backward
#define NAV_DEL     &mt LC(DEL)  DEL     // tap: del   | long-tap: delete word forward

/** RGB functions */
#define LED_TOG     &rgb_ug RGB_TOG
#define BRI_INC     &rgb_ug RGB_BRI     // Brightness increase
#define BRI_DEC     &rgb_ug RGB_BRD     // Brightness decrease
#define HUE_INC     &rgb_ug RGB_HUI
#define HUE_DEC     &rgb_ug RGB_HUD
#define SAT_INC     &rgb_ug RGB_SAI     // Saturation Increase
#define SAT_DEC     &rgb_ug RGB_SAD     // Saturation Decrease
#define SP_INC      &rgb_ug RGB_SPI     // Speed Increase
#define SP_DEC      &rgb_ug RGB_SPD     // Speed Decrease
#define EFF_FW      &rgb_ug RGB_EFF     // Effect forward
#define EFF_BCK     &rgb_ug RGB_EFR     // Effect reverse

#define COLOR &rgb_ug RGB_COLOR_HSB(128,100,100)     // Specific Color

/** MISC */
#define EXT_POWER_TOG &ext_power EP_TOG       // toggle the external power
#define CANCEL        &kp K_CANCEL            // cancel caps-word, num-word and smart-mouse

/**
 * Functions
 */
/** reuse basic mod-morph scheme */
#define SIMPLE_MORPH(NAME, MOD, BINDING1, BINDING2) \
    ZMK_BEHAVIOR(NAME, mod_morph, \
        mods = <(MOD_L ## MOD|MOD_R ## MOD)>; \
        bindings = <BINDING1>, <BINDING2>; \
    )

/** long-tap action on hold, short-tap action on all interrupts */
#define MT_CORE \
    flavor = "tap-preferred"; \
    tapping-term-ms = <MT_CORE_TAPPING_TERM_MS>; \
    quick-tap-ms = <MT_CORE_QUICK_TAP_MS>; \
    hold-trigger-key-positions = <0>;


&mt { MT_CORE };
/**
 * mask CTRL when holding left/right to avoid accidental jumps to beginning/end of document
 */
#define MASK_MODS(NAME, MODS, BINDING) \
    ZMK_BEHAVIOR(NAME, mod_morph, \
        bindings = <BINDING>, <BINDING>; \
        mods = <MODS>; \
    )

/**
 * hold-tap
 */
/** home-row-mods */
ZMK_BEHAVIOR(hrm, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <HRM_TAPPING_TERM_MS>;
    quick-tap-ms = <HRM_QUICK_TAP_MS>;
    bindings = <&kp>, <&kp>;
)

/** modified home  used for  long tap left -> beginning of line*/
ZMK_BEHAVIOR(mt_home, hold_tap, bindings = <&masked_home>, <&kp>; MT_CORE)

/** modified end  used for  long tap right -> end of line*/
ZMK_BEHAVIOR(mt_end,  hold_tap,  bindings = <&masked_end>, <&kp>; MT_CORE)

/**
 * tap-dance
 */
/** tap: space | shift + tap: dot -> space -> sticky shift | hold: activate layer */
ZMK_BEHAVIOR(smart_space, hold_tap,
    flavor = "balanced";
    tapping-term-ms = <TAPPING_TERM_MS>;
    quick-tap-ms = <QUICK_TAP_MS>;
    bindings = <&mo>, <&spc_morph>;
)

SIMPLE_MORPH(spc_morph, SFT, &kp SPACE, &dot_spc)

ZMK_BEHAVIOR(dot_spc, macro,
    wait-ms = <0>;
    tap-ms = <5>;
    bindings = <&kp DOT &kp SPACE &sk LSHFT>;
)

/** hold: NUMSYM layer | tap: RET | double tap: NAV */
//ZMK_BEHAVIOR(numsym_ret_nav, tap_dance,
//    tapping-term-ms = <TAPPING_TERM_MS>;
//    bindings = <&lt NUMSYM RET>, <&tog NAV>;
//)

/** three tap */
//ZMK_BEHAVIOR(smpl3tap, tap_dance,
//    tapping-term-ms = <TAPPING_TERM_MS>;
//    bindings = <&kp>, <&kp>, <&kp>;
//)

/**
 * hold: FNGER | tap: bspc_del
 */
ZMK_BEHAVIOR(bspc_del_fn_ger, tap_dance,
    tapping-term-ms = <TAPPING_TERM_MS>;
    bindings = <&mo FNGER>, <&bspc_del>;
)

/**
 * mod-morph
 */
 /** tap: backspace | shift + tap: delete */
ZMK_BEHAVIOR(bspc_del, mod_morph,
    bindings = <&kp BSPC>, <&kp DEL>;
    mods = <(MOD_LSFT|MOD_RSFT)>;
    keep-mods = <MOD_RSFT>;
)

/** tap: sticky left shift | double tap: capsword */
ZMK_BEHAVIOR(smart_shift, mod_morph,
    bindings = <&sk LSHFT>, <&caps_word>;
    mods = <(MOD_LSFT)>;
)

/**
 * mask CTRL when holding left/right to avoid accidental jumps to beginning/end of document
 */
MASK_MODS(masked_home, (MOD_LCTL), &kp HOME)
MASK_MODS(masked_end,  (MOD_LCTL), &kp END)


/**
 * macro
 */
 /** windows shut-down WIN + X + U + U */
ZMK_BEHAVIOR(win_shutdown, macro,
    wait-ms = <WAIT_MS>;
    tap-ms = <TAP_MS>;
    bindings = <&kp LG(X) &kp U &kp U>;
)

/** windows restart WIN + X + U + R */
ZMK_BEHAVIOR(win_restart, macro,
    wait-ms = <WAIT_MS>;
    tap-ms = <TAP_MS>;
    bindings = <&kp LG(X) &kp U &kp R>;
)

/**
 * Layers Keymap
 */
 /** Activate NAV layer by pressing FNSYM and GER*/
//ZMK_CONDITIONAL_LAYER(NUMSYM GER, NAV)

/**Default QWERTY*/
ZMK_LAYER_3(base,
    // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬──────────────────╮                                   ╭────────────────────┬──────────────┬──────────────┬─────────────┬────────────────┬──────────╮
         XXXXX         XXXXX         XXXXX         XXXXX         XXXXX         XXXXX                                                  XXXXX                XXXXX          XXXXX          XXXXX         XXXXX            XXXXX
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼──────────────────┤                                   ├────────────────────┼──────────────┼──────────────┼─────────────┼────────────────┼──────────┤
         XXXXX         &kp Q         &kp W         &kp E         &kp R         &kp T                                                  &kp Y                &kp U          &kp I          &kp O         &kp P            XXXXX
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼──────────────────┤                                   ├────────────────────┼──────────────┼──────────────┼─────────────┼────────────────┼──────────┤
         XXXXX         &hrm LGUI A   &hrm LALT S   &hrm LCTRL D &hrm LSHFT F   &hrm ESC G                                             &hrm TAB H           &hrm RSHFT J   &hrm RCTRL K   &hrm RALT L   &hrm RGUI SEMI   XXXXX
    // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼──────────────────┼────────────────╮    ╭─────────────┼────────────────────┼──────────────┼──────────────┼─────────────┼────────────────┼──────────┤
         XXXXX         &kp Z         &kp X         &kp C         &kp V         &kp B              &kp C_MUTE            &kp C_MUTE    &kp N                &kp M          &kp COMMA      &kp DOT       &smart_shift     XXXXX
    // ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┼──────────────────┼────────────────┤    ├─────────────┼────────────────────┼──────────────┼──────────────┼─────────────┼────────────────┴──────────╯
                                     XXXXX         XXXXX         XXXXX         &bspc_del_fn_ger   &lt NUMSYM RET        &kp BSPC      &smart_space NAV 0   XXXXX          XXXXX          XXXXX
    //                             ╰─────────────┴─────────────┴─────────────┴──────────────────┴────────────────╯    ╰─────────────┴────────────────────┴──────────────┴──────────────┴─────────────╯
    ,
    &inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN
)

/**Number and Symbols*/
ZMK_LAYER_3(numsym,
    // ╭─────────────┬──────────────┬──────────────┬───────────────┬───────────────┬─────────────╮                                ╭─────────────┬───────────────┬─────────────────┬──────────────┬──────────────┬─────────────╮
         _____         _____          _____          _____           _____           _____                                          _____         _____           _____             _____          _____          _____
    // ├─────────────┼──────────────┼──────────────┼───────────────┼───────────────┼─────────────┤                                ├─────────────┼───────────────┼─────────────────┼──────────────┼──────────────┼─────────────┤
         _____         _____          _____          &kp MINUS       _____           _____                                          _____         _____           &kp EQUAL         _____          _____          _____
    // ├─────────────┼──────────────┼──────────────┼───────────────┼───────────────┼─────────────┤                                ├─────────────┼───────────────┼─────────────────┼──────────────┼──────────────┼─────────────┤
         _____         &hrm LGUI N5   &hrm LALT N4   &hrm LCTRL N3   &hrm LSHFT N2   &kp N1                                         &kp N0        &hrm RSHFT N9   &hrm RCTRL N8     &hrm RALT N7   &hrm RGUI N6   _____
    // ├─────────────┼──────────────┼──────────────┼───────────────┼───────────────┼─────────────┼─────────────╮    ╭─────────────┼─────────────┼───────────────┼─────────────────┼──────────────┼──────────────┼─────────────┤
         _____         _____          &kp SEMI       &kp LBKT        &kp GRAVE       _____         _____              _____         &kp BSLH      &kp FSLH        &kp RBKT          &kp SQT        _____          _____
    // ╰─────────────┴──────────────┼──────────────┼───────────────┼───────────────┼─────────────┼─────────────┤    ├─────────────┼─────────────┼───────────────┼─────────────────┼──────────────┼──────────────┴─────────────╯
                                      _____          _____           _____           _____         _____              _____         _____         _____           _____             _____
    //                              ╰──────────────┴───────────────┴───────────────┴─────────────┴─────────────╯    ╰─────────────┴─────────────┴───────────────┴─────────────────┴──────────────╯
    ,
    &inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN
)

/**Function Keys and Ger*/
ZMK_LAYER_3(fnger,
    // ╭──────────────┬──────────────┬──────────────┬──────────────┬───────────────┬─────────────╮                                ╭─────────────┬───────────────┬─────────────────┬───────────────┬──────────────┬─────────────╮
         _____          _____          _____          _____          _____           _____                                          _____         _____           _____             _____           _____          _____
    // ├──────────────┼──────────────┼──────────────┼──────────────┼───────────────┼─────────────┤                                ├─────────────┼───────────────┼─────────────────┼───────────────┼──────────────┼─────────────┤
         &kp F13        &kp F14        &kp F15        &kp F16        &kp F17         &kp F18                                        &kp F19       &kp F20         &kp F21           &kp F22         &kp F23        &kp F24
    // ├──────────────┼──────────────┼──────────────┼──────────────┼───────────────┼─────────────┤                                ├─────────────┼───────────────┼─────────────────┼───────────────┼──────────────┼─────────────┤
         &hrm LGUI F1   &hrm LGUI F2   &hrm LGUI F3   &hrm LGUI F4   &hrm LGUI F5   &hrm LGUI F6                                    &kp F7        &hrm RSHFT F8   &hrm RCTRL F9     &hrm RALT F10  &hrm RGUI F11   &kp F12
    // ├──────────────┼──────────────┼──────────────┼──────────────┼───────────────┼─────────────┼─────────────╮    ╭─────────────┼─────────────┼───────────────┼─────────────────┼───────────────┼──────────────┼─────────────┤
         _____          &de_ae         &de_eszett     &curr_euro     _____           _____         _____              _____         _____         &de_ue          _____             &de_oe          _____          _____
    // ╰──────────────┴──────────────┼──────────────┼──────────────┼───────────────┼─────────────┼─────────────┤    ├─────────────┼─────────────┼───────────────┼─────────────────┼───────────────┼──────────────┴─────────────╯
                                      _____          _____           _____           _____         _____              _____         _____         _____           _____             _____
    //                              ╰──────────────┴───────────────┴───────────────┴─────────────┴─────────────╯    ╰─────────────┴─────────────┴───────────────┴─────────────────┴───────────────╯
    ,
    &inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN
)

/**Navigation*/
ZMK_LAYER_3(nav,
    // ╭───────┬──────────┬──────────┬───────────┬───────────┬───────╮                                ╭─────────────┬───────────────┬─────────────────┬───────────────┬──────────────┬─────────────╮
         _____   _____      _____      _____       _____       _____                                    _____         _____           _____             _____           _____          _____
    // ├───────┼──────────┼──────────┼───────────┼───────────┼───────┤                                ├─────────────┼───────────────┼─────────────────┼───────────────┼──────────────┼─────────────┤
         _____   _____      _____      _____       _____       _____                                    &kp PG_UP     NAV_BSPC        NAV_UP            NAV_DEL         &kp PSCRN      _____
    // ├───────┼──────────┼──────────┼───────────┼───────────┼───────┤                                ├─────────────┼───────────────┼─────────────────┼───────────────┼──────────────┼─────────────┤
         _____   &sk LGUI   &sk LALT   &sk LCTRL   &sk LSHFT   _____                                    &kp PG_DN     NAV_LEFT        NAV_DOWN          NAV_RIGHT       _____          _____
    // ├───────┼──────────┼──────────┼───────────┼───────────┼───────┼─────────────╮    ╭─────────────┼─────────────┼───────────────┼─────────────────┼───────────────┼──────────────┼─────────────┤
         _____   _____      _____      _____       _____       _____   _____              _____         _____         _____           _____             _____           &kp INS        _____
    // ╰───────┴──────────┼──────────┼───────────┼───────────┼───────┼─────────────┤    ├─────────────┼─────────────┼───────────────┼─────────────────┼───────────────┼──────────────┴─────────────╯
                            _____      _____       _____       _____   _____              _____         _____         _____           _____             _____
    //                    ╰──────────┴───────────┴───────────┴───────┴─────────────╯    ╰─────────────┴─────────────┴───────────────┴─────────────────┴───────────────╯
    ,
    &inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN
)

/**Keyboard Functions*/
ZMK_LAYER_3(sys,
    // ╭─────────────┬─────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮                                ╭────────────────┬─────────────┬─────────────────┬─────────────┬─────────────┬─────────────╮
         XXXXX         XXXXX             XXXXX            XXXXX            XXXXX            XXXXX                                             XXXXX            XXXXX         XXXXX             XXXXX         XXXXX         XXXXX
    // ├─────────────┼─────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤                                ├────────────────┼─────────────┼─────────────────┼─────────────┼─────────────┼─────────────┤
         &bootloader   XXXXX             XXXXX            XXXXX            XXXXX            XXXXX                                             XXXXX            SP_INC        SP_DEC            SAT_INC       SAT_INC       &bootloader
    // ├─────────────┼─────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤                                ├────────────────┼─────────────┼─────────────────┼─────────────┼─────────────┼─────────────┤
         XXXXX         &bt BT_SEL 4      &bt BT_SEL 3     &bt BT_SEL 2     &bt BT_SEL 1     &bt BT_SEL 0                                      LED_TOG          BRI_INC       BRI_DEC           HUE_INC       HUE_DEC       XXXXX
    // ├─────────────┼─────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼─────────────╮    ╭─────────────┼────────────────┼─────────────┼─────────────────┼─────────────┼─────────────┼─────────────┤
         &sys_reset    XXXXX             XXXXX            XXXXX            XXXXX            XXXXX            _____             _____          XXXXX            EFF_FW        EFF_BCK           COLOR         XXXXX         &sys_reset
    // ╰─────────────┴─────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼─────────────┤    ├─────────────┼────────────────┼─────────────┼─────────────────┼─────────────┼─────────────┴─────────────╯
                                         XXXXX            XXXXX            XXXXX            &bt BT_CLR       _____             _____          _____            XXXXX         XXXXX             XXXXX
    //                                 ╰────────────────┴────────────────┴────────────────┴────────────────┴─────────────╯    ╰─────────────┴────────────────┴─────────────┴─────────────────┴─────────────╯
    ,
    &inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN
)

///**Keyboard Functions*/
//ZMK_LAYER_3(sys,
//    // ╭─────────────┬─────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮                                ╭────────────────┬─────────────┬─────────────────┬─────────────┬─────────────┬─────────────╮
//         XXXXX         XXXXX             XXXXX            XXXXX            XXXXX            XXXXX                                             XXXXX            XXXXX         XXXXX             XXXXX         XXXXX         XXXXX
//    // ├─────────────┼─────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤                                ├────────────────┼─────────────┼─────────────────┼─────────────┼─────────────┼─────────────┤
//         &bootloader   XXXXX             XXXXX            XXXXX            XXXXX            XXXXX                                             XXXXX            SP_INC        SP_DEC            SAT_INC       SAT_DEC       &bootloader
//    // ├─────────────┼─────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤                                ├────────────────┼─────────────┼─────────────────┼─────────────┼─────────────┼─────────────┤
//         XXXXX         &bt BT_SEL 4      &bt BT_SEL 3     &bt BT_SEL 2     &bt BT_SEL 1     &bt BT_SEL 0                                      LED_TOG          BRI_INC       BRI_DEC           HUE_INC       HUE_DEC       XXXXX
//    // ├─────────────┼─────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼─────────────╮    ╭─────────────┼────────────────┼─────────────┼─────────────────┼─────────────┼─────────────┼─────────────┤
//         &sys_reset    XXXXX             XXXXX            XXXXX            XXXXX            XXXXX            _____             _____          XXXXX            EFF_FW        EFF_BCK           COLOR         XXXXX         &sys_reset
//    // ╰─────────────┴─────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼─────────────┤    ├─────────────┼────────────────┼─────────────┼─────────────────┼─────────────┼─────────────┴─────────────╯
//                                         XXXXX            XXXXX            XXXXX            &bt BT_CLR       _____             _____          _____            XXXXX         XXXXX             XXXXX
//    //                                 ╰────────────────┴────────────────┴────────────────┴────────────────┴─────────────╯    ╰─────────────┴────────────────┴─────────────┴─────────────────┴─────────────╯
//    ,
//    &inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN
//)

//&caps_word {
//    continue-list = <UNDERSCORE>;
//    mods = <(MOD_LSFT | MOD_LALT)>;
//};

/**--------------------------------------- RGB-Led Strips Enable ---------------------------------------*/
&led_strip {
     chain-length = <PER_KEY_LED_COUNT>;
};

/// {
//    keymap {
//        compatible = "zmk,keymap";
//
//
//        nav_layer {
//        label = "navigate";
//            bindings = <
//                // ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                                ╭─────────────┬─────────────┬─────────────────┬─────────────┬─────────────┬─────────────╮
//                     _____        _____        _____        _____        &kp END       _____                                         _____        _____        _____            _____        &kp HOME      _____
//                // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                                ├─────────────┼─────────────┼─────────────────┼─────────────┼─────────────┼─────────────┤
//                     _____        _____        _____        &kp UP        _____        _____                                         _____        M_SCROLL_L    M_SCROLL_U        M_SCROLL_D    M_SCROLL_R    _____
//                // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                                ├─────────────┼─────────────┼─────────────────┼─────────────┼─────────────┼─────────────┤
//                     _____        _____        &kp LEFT      &kp DOWN      &kp RIGHT     _____                                         _____        M_CURSOR_L    M_CURSOR_U        M_CURSOR_D    M_CURSOR_R    _____
//                // ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────╮    ╭─────────────┼─────────────┼─────────────┼─────────────────┼─────────────┼─────────────┼─────────────┤
//                     _____        _____        _____        _____        _____        _____        _____             _____        _____        _____        _____            _____        _____        _____
//                // ╰─────────────┴─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤    ├─────────────┼─────────────┼─────────────┼─────────────────┼─────────────┼─────────────┴─────────────╯
//                                                 _____        _____        _____        M_BUTTON_M    M_BUTTON_L         M_BUTTON_R       _____        _____         _____            _____
//                //                             ╰─────────────┴─────────────┴─────────────┴─────────────┴─────────────╯    ╰─────────────┴─────────────┴─────────────┴─────────────────┴─────────────╯
//            >;
//
//            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
//        };
//
//        kbfn_layer {
//        label = "kbfn";
//            bindings = <
//                // ╭─────────────┬─────────────────┬────────────────┬────────────────┬────────────────┬────────────────╮                                ╭────────────────┬─────────────┬─────────────────┬─────────────┬─────────────┬─────────────╮
//                     &none         &none             &none            &none            &none            &none                                             &none            &none         &none             &none         &none         &none
//                // ├─────────────┼─────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤                                ├────────────────┼─────────────┼─────────────────┼─────────────┼─────────────┼─────────────┤
//                     &none         &bt BT_CLR        &bt BT_SEL 0     &bt BT_SEL 1     &bt BT_SEL 2     &bt BT_SEL 3                                      &bt BT_SEL 4     &none         &none             &none         &none          &none
//                // ├─────────────┼─────────────────┼────────────────┼────────────────┼────────────────┼────────────────┤                                ├────────────────┼─────────────┼─────────────────┼─────────────┼─────────────┼─────────────┤
//                     _____       &ext_power EP_TOG  &rgb_ug RGB_HUD  &rgb_ug RGB_HUI  &rgb_ug RGB_SAD  &rgb_ug RGB_SAI                                   &rgb_ug RGB_EFF  &none         &none             &none         &none         &none
//                // ├─────────────┼─────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼─────────────╮    ╭─────────────┼────────────────┼─────────────┼─────────────────┼─────────────┼─────────────┼─────────────┤
//                     _____        &none             &rgb_ug RGB_BRD  &rgb_ug RGB_BRI  &rgb_ug RGB_TOG  &none            _____             _____        &none            &none         &none             &none         &none         &none
//                // ╰─────────────┴─────────────────┼────────────────┼────────────────┼────────────────┼────────────────┼─────────────┤    ├─────────────┼────────────────┼─────────────┼─────────────────┼─────────────┼─────────────┴─────────────╯
//                                                     &none            &none            &none            &none            &none              &none         &none            &none         &none             &none
//                //                                 ╰────────────────┴────────────────┴────────────────┴────────────────┴─────────────╯    ╰─────────────┴────────────────┴─────────────┴─────────────────┴─────────────╯
//            >;
//
//            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
//        };
//
//    };
//};